<h1 class='view-title'><%= t '.title' %></h1>

<div class='flex flex-col gap-4'>
  <% if @categories.any? %>
    <% @categories.each do |category| %>
      <%= link_to category_path(category), class: 'p-4 bg-secondary hover:scale-105 transition-all rounded' do %>
        <%= category.name %>
      <% end %>
    <% end %>
  <% else %>
    <p class='text-neutral-300'><%= t '.not_found_message' %></p>
  <% end %>
</div>
